.MainChatContainer{
flex: 2.9;
}
.userProfile{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}



.chatuserProfile{
    width: 50px;
    height: 37px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px ;
}

.msgContainer{
    height: 65vh;
    overflow: hidden;
    overflow-y: scroll;
}

.msgInput{
    width: 60pc;
    padding: 10px;
    margin-top: 10px ;
    background-color: black;
     border: none;
     margin-top: 0px;
     color: white;
   

}

.msgSendercontainer{
    display: flex;
    width: 55pc;
    background-color: aliceblue;
    margin-top: 20px;
    padding: 5px;
    margin-left: 30px;
    border-radius: 10px;

}
.msgbutton{
   width: 130px;
   height: 38px;
   margin-top: 0px;
   border: none;
   color: white;
   background-color: rgb(33, 124, 124); 
   border-radius: 10px;
   margin-left: 10px;
}