nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f3f1f1;
  color: #fff;
}

h1 {
  font-size: 20px;
  margin: 0;
  color: black;
}

.search-container {
  display: flex;
  align-items: center;

}

.search-container input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
}

.search-container button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #45a049;
}

.search-container button:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
  }
  
  .search-container {
    margin-top: 10px;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.2rem;
  margin-top: 0;
}

.card-date {
  font-size: 0.9rem;
  color: #888;
}

.card-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.card-link {
  display: block;
  margin-top: auto;
  color: #007bff;
  text-decoration: none;
}
